@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Press+Start+2P&family=Roboto&display=swap');

html, body {
    margin: 0;
    background-color: #e4ebf0;
}

header {
    background-color: #433d3d;
    padding: 20px 0px;
}

h1 {
    margin: 0;
    font-family: "Jost";
    font-weight: normal;
    text-align: center;
    color: #e4ebf0;
}

main {
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#btObter {
    background-color: #e4ebf0;
    border: 3px solid #433d3d;
    color: #433d3d;
    font-size: 22px;
    font-family: "Jost";
    border-radius: 5px;
    padding: 7px 15px;
}

#btObter:hover {
    background-color: #433d3d;
    color: #e4ebf0;
    border: 3px solid #e4ebf0;
}

p {
    margin: 30px 0px;
    font-family: "Jost";
    font-size: 22px;
    color: #433d3d;
}

img {
    height: 300px;
}